.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@include for-size(desktop) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantages-list {
  display: flex;

  @include for-size(tablet) {
    flex-wrap: wrap;
  }
}

@include for-size(phone) {
  .advantages-list {
    display: block;
  }
  .advantages-item {
    display: block;
    margin-bottom: 30px;

    &:nth-child(4n) {
      margin-bottom: 0;
    }
  }
  .advantages-list > h3 {
    text-align: center;
  }
  .advantages-title {
    text-align: center;
  }
}
.section-title,
.advantages-title,
.item-title {
  color: $title-text-color;
  font-weight: 700;
  margin-top: 0;
}

.item-title,
.advantages-title {
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-item > .advantages-title {
  margin-top: 30px;
}

.accurate {
  margin-top: 0;
  margin-bottom: 0;
}
@include for-size(desktop) {
  .advantages-item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@include for-size(tablet) {
  .advantages-item {
    width: calc((100% - 30px) / 2);

    margin-bottom: 30px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }
}
.advantages-description {
  text-align: left;
  margin: 0;
}
.advantages-icon {
  background-color: $secondary-bg-color;
  border-radius: 4px;

  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  @include for-size(desktop) {
    @include centeredFlex(inline-flex);
    height: 120px;
    width: 270px;
  }
}

@include for-size(phone) {
  .advantages-icon {
    display: block;
    max-width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 18px;
  }
}
