footer {
  background-color: $footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    align-items: baseline;
  }
}

.footer {
  @include for-size(phone) {
    display: block;
    text-align: center;
  }

  @include for-size(tablet) {
    padding-left: 76px;
    padding-right: 76px;
    text-align: center;
  }
  @include for-size(desktop) {
    display: flex;
    align-items: baseline;
  }
}

.clients-list .second-block {
  margin-left: 70px;
  margin-top: 12px;
  margin-right: 70px;

  b {
    display: block;
  }
}
.second-block b {
  @include for-size(phone) {
    text-align: center;
  }
  @include for-size(tablet) {
    display: block;
    margin-bottom: 20px;
  }
  @include for-size(desktop) {
    display: block;
  }
}

.third-block {
  @include for-size(desktop) {
    width: calc(50% - 15px);
    margin-left: 15px;
    margin-top: 12px;
    justify-content: space-between;

    b {
      display: block;
      margin-bottom: 20px;
    }
  }

  @include for-size(phone) {
    display: inline-block;
    margin: 0;
    width: 100%;
  }

  @include for-size(tablet) {
    display: inline-block;
    margin: 0;
    width: 100%;

    b {
      display: block;
      margin-bottom: 20px;
      margin-top: 60px;
    }
  }
}
.footer-form {
  display: block;

  @include for-size(desktop) {
    display: flex;
  }
}

.footer-input {
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $footer-bg-color;
  padding: 15px 16px;

  color: $most-view-text-color;

  &:focus {
    border: 1px solid $accent-color;
    outline: $accent-color;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  @include for-size(desktop) {
    margin-right: 12px;
    width: 358px;
  }

  @include for-size(tablet) {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
  }

  @include for-size(phone) {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.footer-tablet-align {
  display: flex;
  text-align: center;

  @include for-size(phone) {
    display: block;
  }

  @include for-size(tablet) {
    justify-content: space-between;
    text-align: center;
  }
}
.first-block {
  @include for-size(tablet) {
    justify-content: flex-start;
  }
}
.second-block {
  @include for-size(tablet) {
    justify-content: flex-end;
  }
  @include for-size(desktop) {
    margin-left: 70px;
    margin-top: 12px;
    margin-right: 70px;
  }
}
