footer {
  background-color: $footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 480px) {
  .footer {
    display: block;
    text-align: center;
  }
  .third-block {
    display: inline-block;
    margin: 0;
    width: 100%;
  }
  .second-block b {
    text-align: center;
  }
}
.clients-list .second-block {
  margin-left: 70px;
  margin-top: 12px;
  margin-right: 70px;

  b {
    display: block;
  }
}
@media (min-width: 1200px) {
  .third-block {
    width: calc(50% - 15px);
    margin-left: 15px;
    margin-top: 12px;
    justify-content: space-between;

    b {
      display: block;
      margin-bottom: 20px;
    }
  }
  .footer {
    display: flex;
    align-items: baseline;
  }
  .footer-form {
    display: flex;
  }
  .footer-input {
    margin-right: 12px;
    width: 358px;
  }
}

.footer-input {
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $footer-bg-color;
  padding: 15px 16px;

  color: $most-view-text-color;

  &:focus {
    border: 1px solid $accent-color;
    outline: $accent-color;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media (max-width: 480px) {
  .footer-input {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
