.main-content {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.works-list {
  display: flex;
  justify-content: center;

  @include for-size(desktop) {
    margin-bottom: 50px;
  }

  @include for-size(phone) {
    flex-flow: row wrap;
    margin-bottom: 40px;
  }
  @include for-size(tablet) {
    margin-bottom: 30px;
  }
}
.works-item {
  margin-right: 8px;

  &:nth-child(5n) {
    margin-right: 0;
  }

  @include for-size(phone) {
    margin-bottom: 15px;
  }
}
