.footer-contact {
  .adress {
    font-weight: 400;
    color: $most-view-text-color;
    font-style: normal;
    margin-top: 20px;

    margin-left: 0;
    text-align: start;
  }

  a {
    text-decoration: none;
    font-style: normal;
    color: $color-with-transperency;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

@include for-size(desktop) {
  .adress {
    margin-bottom: 9px;
  }
  .footer-contact {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include for-size(phone) {
  .footer-contact {
    text-align: center;
  }
  .footer-contact .adress {
    text-align: center;
  }
  .adress {
    margin-bottom: 8px;
  }
  .footer-contact {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 60px;
    }
  }
}
