@include for-size(desktop) {
  .header-contact-link {
    display: flex;
  }
  .header-contact .item + .item {
    margin-left: 30px;
  }
  .header-contact {
    display: flex;
    margin-left: auto;

    & a {
      line-height: 1.14;
    }
  }
}

.header-contact {
  font-weight: 500;
  font-style: normal;

  & a {
    color: $primary-text-color;
    text-decoration: none;
    letter-spacing: 0.02em;
    align-items: center;
  }
  > .item a {
    align-items: center;
  }
  > .item img {
    margin-right: 10px;
  }
  @include for-size(phone) {
    display: none;

    .menu-container & {
      display: inline-block;
    }
    text-align: center;
  }
  a {
    font-size: 18px;
    line-height: 1.17;
    display: block;
  }
  .item {
    margin-bottom: 16px;

    @include for-size(desktop) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  @include for-size(tablet) {
    margin-left: auto;
    a {
      display: block;
      font-size: 12px;
      line-height: 1.17;
    }
    .item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.header-contact-icon {
  margin-right: 10px;
  fill: $primary-text-color;

  .header-contact-link:hover &,
  .header-contact-link:focus & {
    fill: $accent-color;
  }
}

.contact-img .header-contact .item a {
  color: $primary-text-color;
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: $accent-color;
}
