.logo {
  color: $title-text-color;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.logo-accent {
  color: $accent-color;
}
.footer-logo {
  color: $most-view-text-color;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
@include for-size(desktop) {
  .footer-logo {
    margin-right: 85px;
  }
  .logo {
    margin-right: 85px;
  }
}

@include for-size(phone) {
  .logo,
  .footer-logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
