.social-list {
  display: flex;

  align-items: center;
}

.social-item {
  width: calc((100% - 94px) / 4);
  margin-right: 10px;
  margin-bottom: 24px;

  &:first-of-type {
    margin-left: 32px;
  }

  &:nth-child(4n) {
    margin-right: 32px;
  }

  a {
    display: block;
    padding: 12px;
  }
}

.social-icons-link {
  @include centeredFlex(inline-flex);

  border-radius: 50%;
  height: 44px;
  width: 44px;
  background-color: $most-view-text-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-icon {
  fill: $border-color-clients;

  .social-icons-link:hover &,
  .social-icons-link:focus & {
    fill: $primary-bg-color;
  }
}

.footer-social-item {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $foter-icon-bg;

  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  margin-top: 20px;

  &:nth-child(4n) {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  a {
    padding: 12px;
    display: block;
  }
}

.footer-social-icon {
  fill: $most-view-text-color;
}
.sent-icon {
  margin-left: 10px;
}
.footer-social-list {
  display: flex;
}
