// * {
//   border: 1px solid green;
// }
body {
  color: $primary-text-color;
  background-color: $primary-bg-color;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

body.modal-open {
  overflow: hidden;
}
.details {
  color: $most-view-text-color;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  border: 1px solid $header-color;
}

@media (max-width: 480px) {
  header {
    border: none;
  }
}
.animation {
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}
.flexbox {
  display: flex;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 480px) {
  .section-title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
b {
  font-weight: 700;
  line-height: 1.14;
  color: $most-view-text-color;
  text-transform: uppercase;
}

.container,
.header,
.footer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 480px) {
  .container,
  .header,
  .footer {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container,
  .header,
  .footer {
    width: 1200px;
  }
}
