$primary-text-color: #757575;
$title-text-color: #212121;
$most-view-text-color: #ffffff;
$accent-color: #2196f3;
$color-with-transperency: rgba(255, 255, 255, 0.6);
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$border-color-clients: #afb1b8;
$border-color-gallery-list: #eeeeee;
$foter-icon-bg: rgba(255, 255, 255, 0.1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$header-color: #ececec;
